.navEstilo{
    margin:1%
}

html,body{
    height: 100%;
    width: 100%
}

.bold{
    font-weight: bolder
}
.orange{
    background-color: orange;
}
.naranja{
    color:gold
}
.blanco{
    color: white;
}

#probandoModal{
    background-image: url(../img/taxi_00.jpg);
    background-size: cover;
    padding-top: 14%;
    padding-bottom: 14%;
    height: 100%;
    width: 100%;
}

#probandoModal >div{
    padding: 4%;
    padding-left: 8%;
}

.containerDeLineas{
    display: flex;
    align-items: center;
}

.linea{
    background-color: white;
    height: 2px;
    width: 40%;
    margin: 2%
}
#celularApp{
    background-color: orange;
}
#celularApp >div{
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px solid white;
    border-left: none;
    padding: 3%
}

#celularApp img{
    height:  80%;
    
}

#conductor{
    background-image: url(../img/conduce_00.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    height: 50%;
    width: 100%;
   
}
#conductor >div{
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    height: 100%;
    padding:5%
}
#tarifas >div >div{
    padding: 10%
}

.inputsTarifas{
    background-color: orange;
    border: 1px solid white;
    border-radius: 6px;
    padding: 4px;  
    margin: 4%;
    
}

footer{
    background-color: black;
    width: 100%;
    height: 70%;
}
.iconosFooter{
    color:white;
    
}
.iconosFooter:hover{
    color: azure
    
}
footer li{
    list-style: none;
    color:white;
    cursor:pointer;
}

footer li:hover{
    text-decoration: underline;
}